BOT_TOKEN=8655172970:AAFP8tRfGxABllgs6vHHFgJMIMGa03rclHY
BOT_USERNAME=
ADMIN_CHAT_ID=-1003892168800
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1e6zksfuZZo9nnZ9glTKJBWVxc4Qud2In4UXAVSVT2Zg/edit?gid=52163162#gid=52163162 
CONTENT_REFRESH_MINUTES=5 
